@use "./theme.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background-color: $background;
  font-family: "JetBrains Mono", Inter, Roboto, sans-serif;
}

@supports #{'\not selector(::-webkit-scrollbar)'} {
	* {
		scrollbar-width: thin;
		scrollbar-color: $surface transparent;
	}
}

@supports #{'\selector(::-webkit-scrollbar)'} {
	*::-webkit-scrollbar {
		width: 4px !important;
		height: 4px !important;
		background-color: transparent;
	}

	*::-webkit-scrollbar-thumb {
		background-color: $surface-2 !important;
		border-radius: 17px !important;
		cursor: pointer;
	}

	*::-webkit-scrollbar-track {
		background-color: transparent;
	}

	::-webkit-scrollbar {
		width: 6px !important;
		height: 6px !important;
		background-color: transparent;
	}

	::-webkit-scrollbar-thumb {
		background-color: $surface-2 !important;
		border-radius: 17px !important;
	}

	.no-scrollbar::-webkit-scrollbar {
		display: none !important;
	}
}

.wrapper {
	max-width: 2120px;
	width: 1920px;
	margin: 0 auto;
	position: relative;
	@media screen and (max-width: 1919px) {
		width: 1600px;
	}
	@media screen and (max-width: 1559px) {
		width: 1300px;
	}
	@media screen and (max-width: 1366px) {
		width: 100%;
	}
}